section.repository-list {
  margin: 40px;

  h1 {
    margin-bottom: 16px;
  }

  ul {
    list-style: none;
    display: flex;
    margin-bottom: 24px;

    li {
      list-style: none;
      box-shadow: 1px 1px 16px #ededed;
      border-radius: 8px;
      padding: 16px;
      width: 240px;
      height: 160px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & + li {
        margin-left: 20px;
      }
    }

    p {
      font-size: 14px;
      color: #444;
      margin-top: 8px;
    }

    a {
      display: inline-block;
      margin-top: 16px;
      text-decoration: none;
    }
  }

  button.repository-list__paginate-button {
    border: none;
    padding: 8px 16px;
    background-color: #efefef;
    font-size: 14px;
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 8px;
    cursor: pointer;
    border-radius: 4px;

    &:hover {
      background-color: #777;
      color: #fff;
    }
    &:active {
      background-color: #333;
      color: #fff;
    }
  }

  button.repository-list__paginate-button--active {
    background-color: black;
    color: #fff;
  }
}