section.repository-list {
  margin: 40px;

  h1 {
    margin-bottom: 16px;
  }

  ul {
    list-style: none;

    li {
      list-style: none;

      & + li {
        margin-top: 20px;
      }
    }

    p {
      font-size: 14px;
      color: #444;
      margin-top: 8px;
    }

    a {
      display: inline-block;
      margin-top: 16px;
      text-decoration: none;
    }
  }

  button.repository-list__paginate-button {
    border: none;
    padding: 8px 16px;
    background-color: #dedede;
    font-size: 14px;
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 4px;
    cursor: pointer;
    border-radius: 4px;

    &:hover {
      background-color: #eee;
    }
    &:active {
      background-color: #fff;
    }
  }

  button.repository-list__paginate-button--active {
    background-color: deepskyblue;
    color: #fff;
  }
}